.classpath
.project
.settings/
target/
build/logs/
logs/
.externalToolBuilders/
maven-eclipse.xml
overlays/
*.iml
*.ipr
*.bak
*.iws
.idea
*.class
*.eml
*.log
*.userlibraries
*overlays/
out/
*.out
test-output/
.DS_Store